@import "bootstrap";

p.sticky_content { 
	background-color: #efe;
}
.comment_block { 
	background-color: #fe9;
}
p.comment_person { 
	background-color: #fea;
}
ul.desktop-toolbar{ 
	position: absolute;
	bottom : 0em;
	right : 5em;
}
ul.desktop-toolbar li{ 
	display: inline-block;
}

code { 
	display: inline-block;
	width: 100%;
	height: 100%;
}

pre { 
	display: inline-block;
	margin-left: -1em;
	margin-top: -1em;
	width: 100%;
	height: 100%;
}

ul.flash-container { 
	position: absolute;
	list-style: none;
	top: 5em;
	left: 5%;
	width: 90%;
}
