<!DOCTYPE html>
<html>
<head>
  <title>Splashdesk</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".desktop-toolbar">
<%= javascript_include_tag "application" %>
<%= yield %>

</body>
</html>
